
<!---this is to insure that incase we need upload media files---->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">




</head>
<body>

<title>My blog</title>

  <link href="//fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans" rel="stylesheet" type="text/css">

     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'css/blog.css' %}">

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css">


<div class="page-header">
    <!--goes back to alternative :'/' homepage----->

    <!-----creates a link to new post------------------>
    {% if user.is_authenticated %}
        <a href="{%url 'post_new' %}" class="top-menu"> <i class="fa fa-user-plus fa-2x"  aria-hidden="true" ></i></a>
    {% endif %}
    <h1><a href="{% url 'post_list' %}">Voting BLOG USA </a></h1>
</div>


<!----its defiend in css .content------>
<div class="content container">
    <div class="row">
         <div class="col-md-8">
               <!---inhertance to the post_detail-------->
             {% block content %}


             {% endblock %}


         </div>
    </div>
</div>

</body>
</html>